:root {
  /* --primary-color: #cfcfcf; */
  /* --secondary-color: #D9D9D9; */
  /* --tertiary-color: #F0F0F0; */

  --primary-color: #d7fcf9;
  --secondary-color: #00b5aa;
  --tertiary-color: #00d9cc;
}

body {
  background: var(--primary-color);
}

.container {  
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows: 0.05fr 0.8fr 1.4fr 1.4fr 0.05fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "nav-bar"
      "gallery"
      "gallery"
      "gallery"
      "footer";
    margin: 0 !important;
    padding: 0 !important;
    max-width: unset !important;
}



/*/////////////////////////////
//          Navbar           //
/////////////////////////////*/
.nav-bar { 
  grid-area: nav-bar; 
}

#top-navbar > img {
  width: 65px;
  height: 65px;
  
  margin: 0 auto;
}

/*/////////////////////////////
///////////////////////////////
/////////////////////////////*/


/*/////////////////////////////
//          Gallery          //
/////////////////////////////*/

.gallery {
  padding: 5%;
  grid-area: gallery;
  overflow-y: scroll;
}

.card-body {
  background-color: rgb(234, 234, 234);
}

.card-img-top {
  aspect-ratio: 1 / 1;
  padding: 5%;
}

.card-logo {
  display: inline;
  width: 16%;
  aspect-ratio: 1 / 1;
}

.card-title {
  display: inline;
}

/*/////////////////////////////
///////////////////////////////
/////////////////////////////*/


/*/////////////////////////////
//          Footer           //
/////////////////////////////*/
.footer {
  grid-area: footer;
}

#bottom-navbar > img {
  width: 65px;
  height: 65px;
  margin: 0 auto;
}
/*/////////////////////////////
///////////////////////////////
/////////////////////////////*/

