/* color css file */
.bg-primary {
    --bs-bg-opacity: 1;
    background-color: #008891 !important;
  }

  .btn-primary {
    --bs-bg-opacity: 1;
    background-color: #008891 !important;
  }


.color-call-cta {
    --bs-bg-opacity: 1;
    background-color: #008891 !important;
  }