/* primary styles file */
:root {


  --primary-color: #d7fcf9;
  --secondary-color: #00b5aa;
  --tertiary-color: #00d9cc;
}

.btn-minor {
  background-color: #bd4c44;
}

body {
  background: var(--primary-color);
  margin: 0 auto;
}



#navbar-logo{
  cursor: pointer;
  font-size: 26pt;
}

/*/////////////////////////////
//          Navbar           //
/////////////////////////////*/
.nav-bar { 
  grid-area: nav-bar; 
}

#top-navbar > img {
  width: 55px;
  height: 55px;
  
  margin: 0 auto;
}

/*/////////////////////////////
///////////////////////////////
/////////////////////////////*/

/*/////////////////////////////
//          Navbar           //
/////////////////////////////*/


#banner {
  text-align: center;
}

#welcome-banner-close-button {

  bottom: 22vh;
  left: 35vw;

}

/*/////////////////////////////
///////////////////////////////
/////////////////////////////*/

/*/////////////////////////////
//          Tiles           //
/////////////////////////////*/
.btn-square-md {
  width: 200px;
  max-width: 100%;
  max-height: 100%;
  height: 200px;
  text-align: center;
  padding: 0px;
  font-size:12px;
}

.tile {
  margin: 0 auto;
}



.tile1 { grid-area: tile1; }
.tile2 { grid-area: tile2; }
.tile3 { grid-area: tile3; }
.tile4 { grid-area: tile4; }


/*/////////////////////////////
///////////////////////////////
/////////////////////////////*/


/*/////////////////////////////
//        Text Editor        //
/////////////////////////////*/

#content {
  width: 95%;
  margin: 5% auto;
}

#visual {
  display: block;
  width: auto;
  height: 90%;
  margin: 0 auto;
}

#header {
  text-align: center;
}

/*/////////////////////////////
///////////////////////////////
/////////////////////////////*/


/*/////////////////////////////
//          Footer           //
/////////////////////////////*/
.footer {
  grid-area: footer;
}

#bottom-navbar > img {
  width: 45px;
  height: 45px;
  margin: 0 auto;
}
/*/////////////////////////////
///////////////////////////////
/////////////////////////////*/

#login-prompt-container {
  margin: 10% auto;
  left: 50%;
  width: 100%;
  top: 50%;
  text-align: center;
  padding: 10%;
  background-color: #f8f9fa;
  border: 1px solid lightgrey;
  box-shadow: 2px 4px lightgray;
  border-radius: 2%;  
}  

#firebaseui-auth-container {
  margin: 10% auto;
  width: 100%;
}


#add-new-classroom-button {
  position: absolute;
  bottom: 50vw - 50%;
  top: 50vh - 50%;
}

#profile {
  margin: 5%;
}


.nav-bar{
  align-items: center;
}

