:root {
  /* --primary-color: #cfcfcf; */
  /* --secondary-color: #D9D9D9; */
  /* --tertiary-color: #F0F0F0; */

  --primary-color: #d7fcf9;
  --secondary-color: #00b5aa;
  --tertiary-color: #00d9cc;
}

body {
  background: var(--primary-color);
  margin: 0 auto;
}

.container {  
  display: grid;
  height: 100vh;
  width: 100vh;
  grid-template-columns: 0.8fr 1.1fr 1.1fr 0.9fr;
  grid-template-rows: 0.6fr 0.8fr 1.4fr 1.4fr 0.6fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "nav-bar nav-bar nav-bar nav-bar"
    "welcome-banner welcome-banner welcome-banner welcome-banner"
    ". tile1 tile2 ."
    ". tile3 tile4 ."
    "footer footer footer footer";
}

/*/////////////////////////////
//          Navbar           //
/////////////////////////////*/
.nav-bar { 
  grid-area: nav-bar; 
}

#top-navbar > img {
  width: 100px;
  height: 100px;
  
  margin: 0 auto;
}

/*/////////////////////////////
///////////////////////////////
/////////////////////////////*/
.welcome-banner { grid-area: welcome-banner; }

.tile1 { grid-area: tile1; }

.tile2 { grid-area: tile2; }

.tile3 { grid-area: tile3; }

.tile4 { grid-area: tile4; }


/*/////////////////////////////
//          Footer           //
/////////////////////////////*/
.footer {
  grid-area: footer;
}

#bottom-navbar > img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
/*/////////////////////////////
///////////////////////////////
/////////////////////////////*/

